.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(255, 228, 196);
  .cats {
    text-align: center;
    .cat-image {
      width: 350px;
      height: 350px;
      border-radius: 20px;
      margin: 15px;
      box-shadow: 0 0px 10px rgb(0, 0, 0);
    }
  }
}

@media screen and (max-width: 1550px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    grid-template-columns: 1fr 1fr;
    .cat-image {
      width: 300px;
      height: 300px;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    .cat-image {
      width: 250px;
      height: 250px;
    }
  }
}
